<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>MacroQuiet Backend System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1>MacroQuiet Backend System</h1>
            <h5>Status:</h5>
            <p>Up and running ✅</p>
            <h6>Authetication</h6>
            <p>- login MacroQuiet ✅</p>
            <p>- auth Google ✅</p>
            <h6>MacroQuiet account</h6>
            <p>- register ✅</p>
            <p>- account confirmation ✅</p>
            <p>- get specific user ✅</p>
            <p>- get current user ✅</p>
            <p>- change password of authenticated user ✅</p>
            <p>- change username of authenticated user ✅</p>
            <h6>File upload</h6>
            <p>- avatar/cover ✅</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
