<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>MacroQuiet Backend System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <img
              src="https://pbs.twimg.com/profile_images/1524690480256147457/1JQedO6I_400x400.png"
              alt="MacroQuiet Logo"
              style="display: block"
              width="64"
              height="64" />
            <h1>MacroQuiet Backend System</h1>
            <h5>Status:</h5>
            <h6>Up and running ✅</h6>
            <p>Authetication ✅</p>

            <p>MacroQuiet account ✅</p>

            <p>File upload ✅</p>
            <p>Unity ✅</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
